:root {
    --fade-standard: fade 0.3s ease-in-out;
    --scaleUp-standard: scaleUp 1s ease-in-out;
    --scaleDown-standard: scaleDown 0.2s ease-in-out;
    --slideIn-standard: slideIn 0.2s ease-in-out;
    --slideOut-standard: slideOut 0.2s ease-in-out;
    --slideInLeft-standard: slideInLeft 0.2s ease-in-out;
    --slideOutLeft-standard: slideOutLeft 0.2s ease-in-out;
    --slideInRight-standard: slideInRight 0.2s ease-in-out;
    --slideOutRight-standard: slideOutRight 0.2s ease-in-out;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes scaleUp {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }
  
  @keyframes scaleDown {
    from { transform: scale(1); }
    to { transform: scale(0); }
  }
  
  @keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
  }
  
  @keyframes slideOut {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
  }
  
  @keyframes slideInLeft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
  }
  
  @keyframes slideOutLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  
  @keyframes slideInRight {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
  }
  
  @keyframes slideOutRight {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
  }
  