.gdpr {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--background-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: var(--font-size-h5);
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.9);
	padding: var(--spacing-xl);
	animation: slideIn 0.5s ease-in-out;
}

.gdpr a {
	color: var(--accent-color);
	text-decoration: none;
	margin-left : 4px;
}

.gdpr a:hover {
	text-decoration: underline;
	font-weight: var(--font-weight-bold);
	color: var(--accent-color-2);
}

.gdpr-btn {
	background-color: var(--accent-color);
	color: var(--text-color);
	border: none;
	padding: var(--spacing-md);
	border-radius: var(--border-radius-lg);
	font-size: var(--font-size-base);
	cursor: pointer;
	transition: var(--standard-transition);
}

.gdpr-btn:hover {
	background-color: var(--accent-color-2);
}

@keyframes slideIn {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

.policy-wrapper{
	height: 85vh;
	background-color: var(--background-color);
	padding: var(--spacing-md);
}

.policy {
	margin: 0 auto;
	max-width: 1000px;;
}

.policy h1 {
	font-size: var(--font-size-h1);
	margin-bottom: var(--spacing-xl);
	text-decoration: underline;
}