.booking{
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center
}
.bookingForm{
    background-color: #fff;
    padding: 50px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1)
}