.footer {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: var(--spacing-sm);
}
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    text-shadow: 1px 1px 3px var(--accent-color);
  }
  
  .footer-content h3 {
    font-size: var(--font-size-h3);
  }
  
  
  .footer-content span {
    font-weight: bold;
  }

  .footer-content a {
    color : var(--text-color);
    font-size: var(--font-size-base);
    margin-bottom: 0.5rem;
    text-decoration: none;
    transition: var(--standard-transition);
    cursor: pointer;
  }

  .footer-content a:hover {
    color: var(--accent-color);
    text-decoration: underline;
  }
  
.footer-link {
  display: block;
}

  .footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-weight: var(--font-weight-bold);
    text-shadow: 1px 1px 3px var(--accent-color);
  }
  
